<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/consultas.css">
    <title>Consultas</title>
</head>

<body>

    <body>
        <div class="app-bar-index">
            <img src="assets/InsulinSense.png" alt="logo">
            <a href="consultas.html">Consultas</a>
            <a href="pacientes.html">Pacientes</a>
        </div>

        <div class="filtro-consultas">
            <h1 class="consultas">Filtros</h1>
            <form id="validacao" onsubmit="return buscarConsultas()">
                <div class="input-consulta">
                    <input type="number" id="cpfPaciente" name="cpfPaciente" placeholder="CPF" required>
                </div>

                <div class="input-consulta">
                    <input type="date" id="data-consulta" name="data-consulta" required>
                </div>

                <div class="input-consulta">
                    <input type="text" placeholder="Convênio" required>
                </div>

                <div class="filtrarConsultas">
                    <input type="submit" value="Filtrar consultas">
                </div>

            </form>

            <div class="nova-consulta">
                <a href="novaconsulta.html"><input type="submit" value="Nova consulta"></a>
            </div>

        </div>

        <div class="resultados-pesquisa">
            <p>Consultas Cadastradas</p>
        </div>

        <div class="voltar-para">
            <a href="index.html"><img src="assets/home.svg" alt="home"></a>
        </div>

    </body>

</html>